h1{
    color:#00A19D;
    font-size: 8.25rem;
    font-family: 'Sacramento', cursive;
    margin: 100px auto 0 auto;
}
h2{
    color:maroon;
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: bolder;
   
}
h3{
    font-weight: bold;
    color: #00A19D;
    font-family: 'Montserrat', sans-serif;
}
p{
    margin:0;  
}
body{
    margin: 0px;
    text-align: center;
    font-size: 200%;
}
.top-container{
    padding-top:250px;
    background-color: #FFC074;
    padding-bottom:0px;
}
.middle-container{
    padding-top: 50px;
    font-weight: bolder;
    background-color: #ACFFAD;
    padding-bottom: 3   0px;
    
}
.bottom-container{
    padding-top: 50px;
    background-color: #FFB344;
    height:100%;
}
.mountain{  
    padding-bottom: 0;
    margin:0;
    width: 50%;
}
.imgprofile{
    width: 20%
}
.top-cloud{
    width:18%;
    position:absolute;
    right:290px;
    top: 220px;
    
}

.bottom-cloud{
    width: 16%;
    position:absolute;
    left:300px;
    top:580px;
}
.footer-link{
    color: #00A19D;
}
.programmer{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    color:maroon;
    
}
.hello{
    font-weight: bolder;
}
.skill-row{
    margin:100px auto;
    width:50%;
    display:block;
}
.C{
    width: 25%;
    margin-right: 30px;
}
.web {
    width: 25%;
    margin-left: 30px;
}
hr{
    
    border-color:grey;
    width: 20%;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    height:0;
}
.footer-link{
    margin:0px 50px;
    color:brown;
    font-weight: bolder;
    text-decoration: none;
}
.footer-link:hover{
    color:#480032;
}
.header-container{
    background-color: #480032;
    margin: 0;
    position:fixed;
    height:17%;
    width:100%;
}
.header-text{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:beige;
    font-weight:bold;
    font-size:6.5rem;
    margin:auto;
    width:20%;
    padding-top: 20px;
}
.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    font-size: 40px;
    font-weight: 100;
    padding: 18px;
    background-color: #800000;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom:30px;
 }
 
 .btn:hover {   
    background: #F53B3B;
    background-image: -webkit-linear-gradient(top, #F53B3B, #F53B3B);
    background-image: -moz-linear-gradient(top, #F53B3B, #F53B3B);
    background-image: -ms-linear-gradient(top, #F53B3B, #F53B3B);
    background-image: -o-linear-gradient(top, #F53B3B, #F53B3B);
    background-image: -webkit-gradient(to bottom, #F53B3B, #F53B3B);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
.copyright{
    font-weight: bolder;
    padding-bottom: 30px;
}
.pdown{
    padding-bottom: 20px;
}